<table style="width: 100%">
  <tr>
    <th>Category</th>
    <th>Capacity</th>
    <th>Price</th>
  </tr>
  <tr>
        <% @hotel.rooms.each do |room| %>
           <td><%= room.category %></td>
           <td><%= room.capacity %></td>
           <td><%= room.price %>DH</td>
  </tr>
</table>
            <% room.room_attachments.each do |p| %>
              <%= image_tag p.photo_url %>
              <%= link_to "Edit Attachment", edit_room_attachment_path(p) %>
              <% if policy(p).destroy? %>
                <%= link_to "delete Attachment", room_attachment_path(p),method: :delete, data: {confirm: "Are you sure?"} %>
              <% end %>
            <% end %>
            <%if policy(room).edit? %>
              <%= link_to "Edit", edit_room_path(room) %>
            <% end %>
            <%if policy(room).destroy? %>
              <%= link_to "Delete", room_path(room), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
        <% end %>

