     <table>
        <% @hotel.rooms.each do |room| %>
        <tr>
          <td>
            <%= room.category %>
            <%= room.capacity %>
          </td>
          <td>
            <%= room.price %>
          </td>
          <td>
            <% room.room_attachments.each do |p| %>
              <%= image_tag p.photo_url %>
              <%= link_to "Edit Attachment", edit_room_attachment_path(p) %>
            <% if policy(p).destroy? %>
        <%= link_to "delete Attachment", room_attachment_path(p),method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
          <% end %>
          </td>
          <td>
            <%if policy(room).edit? %>
              <%= link_to "Edit", edit_room_path(room) %>
            <% end %>
          </td>
          <%if policy(room).destroy? %>
              <%= link_to "Delete", room_path(room), method: :delete, data: { confirm: "Are you sure?" } %>
            <% end %>
        </tr>
        <% end %>

      </table>
    <div class="list" >
      <h3>Hotel dashboard</h3>
      <%= link_to "Add a room", new_hotel_room_path(@hotel) %>
    </div>
    <div class="list" >
      <h3>Customer dashboard</h3>
  </div>
