<div class="main-container">
  <div class="container">
      <h3><%= @hotel.name %></h3>
        <%= @hotel.address %><br>
        <%= link_to "Edit", edit_hotel_path(@hotel) %>
        <%= link_to "Delete", hotel_path(@hotel), method: :delete, data: {confirm: "Are you sure?"} %>
        <p><%= link_to "Add a room", new_hotel_room_path(@hotel) %></p>
       <p><%= link_to "Edit", edit_hotel_path(@hotel) %></p>
        <p><%= link_to "Delete", hotel_path(@hotel), method: :delete, data: {confirm: "Are you sure?"} %></p>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
      <%= render 'carousel' %>
        </div>
      </div>
      <br>
      <br>
      <%= render '/rooms/index' %>
      <%= link_to "Add a room", new_hotel_room_path(@hotel) %>
    <div class="list" >
      <%= link_to "Book this hotel", new_hotel_booking_path(@hotel), class: "btn btn-success" %>
    </div>
      <%= render '/reviews/index' %>
</div>



