<div class="main-container">
  <div class="container">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= @hotel.name %>
      <%= @hotel.address %>
      <% @hotel_attachments.each do |p| %>
        <%= image_tag p.photo_url %>
        <%= link_to "Edit Attachment", edit_hotel_attachment_path(p) %>
      <% end %>
      <%= link_to 'Home', hotels_path %>
      <table>
        <% @hotel.rooms.each do |room| %>
        <tr>
          <td>
            <%= room.category %>
            <%= room.capacity %>
          </td>
          <td>
            <%= room.price %>
          </td>
          <td>
            <%= room.photos %>
          </td>
          <td>
            <%if policy(room).edit? %>
              <%= link_to "Edit", edit_room_path(@hotel) %>
            <% end %>
          </td>
          <%if policy(room).destroy? %>
              <%= link_to "Delete", hotel_path(@hotel), method: :delete, data: {confirm: "Are you sure?"} %>
            <% end %>
        </tr>
        <% end %>
      </table>
    <div class="list" >
      <h3>Hotel dashboard</h3>
      <%= link_to "Add a room", new_hotel_room_path(@hotel) %>
    </div>
    <div class="list" >
      <h3>Customer dashboard</h3>
      <%= link_to "Book the room", "#" %>
  </div>
      <%= render '/rooms/index' %>
      <%= render '/reviews/index' %>
    </div>
  </div>
  <div id="map" style="width: 25%" data-markers="<%= @markers.to_json %>"></div>
</div>


